.avatar {
  width: 70px;
}

.selected {
  color: red;
}

.loading {
  width: 20px;
}

.paginationWrapper {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.pagination {
  display: flex;
  gap: 5px;
}
